.separate-button{
    -fx-background-color: lightgray;
}

.newVerseBox{
    -fx-fill: white;
    -fx-font-size: 15px;
}

.projectorTextBox{
    -fx-font-size: 32px;
    -fx-fill: white;
    -fx-font-weight: bold;
}